/* Custom Scrollbar untuk tampilan modern */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}

/* Menghilangkan border focus bawaan */
textarea:focus {
    box-shadow: none !important;
}
